/* Reset */
body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #222222;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.return {
  font-size: 2rem;
  color: #222222;
}

.subtitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Super Information */

.superinfo-bg {
  background: #222;
  color: white;
}

.superinfo {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.superinfo a {
  color: white;
  margin: 0 10px 10px 10px;
}

.superinfo p {
  margin: 0 10px 10px 10px;
}

/* Menu */

.menu-bg {
  background: #00093fbb;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo a {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;

  margin: 0 10px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
}

.menu-nav a:hover {
  color: #00093f;
  font-weight: bold;
}

/* Header */

.introduction {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/* About */

.about-bg {
  /* background: pink; */
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  border-top: 2px solid #00093fbb;
  border-bottom: 2px solid #00093fbb;
  display: flex;
  flex-wrap: wrap;
}

.about-info {
  flex: 2 1 300px;
  margin: 0 10px;
  /* flex: 300px (sherink = o texto diminui ate 300px) */
}

.about-info p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #7c7c7c;
}

.about-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* Products */

.products {
  max-width: 960px;
  margin: 60px auto;
}

.products h2 {
  margin-left: 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .products-container {
    flex-direction: column;
  }
}

.products-item {
  flex: 1 1 175px;
  margin: 0 10px;
}

.products-item h3 {
  font-size: 3rem;
  color: #00093fbb;
  background: #f7f7f7;
  display: flex;
  padding: 60px 20px;
  align-items: center;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

/* Price */

.price {
  background: #f7f7f7;
  padding: 60px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.price-item {
  max-width: 300px;
  flex: 1 1 260px;
  border: 4px solid white;
  margin: 10px;
  padding: 20px;
}

@media (max-width: 800px) {
  .price .price-item:nth-child(3) {
    order: -2;
  }
  .price .price-item:nth-child(2) {
    order: -1;
  }
}

.price-item h3 {
  font-size: 3rem;
  color: #00093fbb;
  text-align: center;
  margin-top: 20px;
}

.price-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.price-item sup {
  font-size: 1.5rem;
}

.price-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25rem;
  line-height: 2;
  max-width: 200px;
  font-style: italic;
}

.price-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-item li::after {
  content: ' ';
  display: block;
  width: 6px;
  height: 6px;
  background: #00093fbb;
  border-radius: 50%;
}

.price-item a {
  max-width: 200px;
  display: block;
  margin: 20px auto;
  border: 3px solid #00093fbb;
  color: #00093fbb;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 40px;
  text-align: center;
}

.price-item a:hover {
  color: #7c7c7c;
  border: 3px solid #7c7c7c;
}

/* quality */

.quality {
  max-width: 960px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}

.quality-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.quality-item h3 {
  font-size: 2rem;
  color: #00093fbb;
  margin-bottom: 20px;
  display: flex;
}

.quality-item h3::before {
  content: ' ';
  display: block;
  width: 8px;
  height: 30px;
  background: #66d9eb;
  margin-right: 10px;
  align-self: center;
  /* display: flex; */
}

.quality-item:nth-of-type(3n + 1) h3::before {
  background: #ae81ff;
}

.quality-item:nth-of-type(3n + 2) h3::before {
  background: #f9265e;
}

.quality-item:nth-of-type(3n + 3) h3::before {
  background: #66d9eb;
}

.quality-item p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}

/* Newsletter */

.newsletter {
  background: #00093fbb;
  color: #f7f7f7;
  margin: 0 auto;
  padding: 40px 0;
}

.newsletter-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  flex: 1 1 260px;
  margin: 10px;
}

.newsletter-info h1 {
  font-size: 3rem;
}

.newsletter-info p {
  font-size: 1.25rem;
  font-style: italic;
}

.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.newsletter-form input {
  flex: 3 1 200px;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  height: 50px;
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
  text-transform: lowercase;
  border: 3px solid #222;
  outline: 0;
}

.newsletter-form button {
  flex: 1 1 150px;
  /* height: 50px; */
  background: #222;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  border: 0;
  color: #a4a4a4;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 600px) {
  .newsletter-form input {
    font-size: 1rem;
  }
  .newsletter-form button {
    font-size: 1rem;
  }
}

.newsletter-form button:hover {
  color: #7c7c7c;
}

/* footer */

.footer {
  display: flex;
  background: #222222;
  height: 100px;
  margin: 0 auto;
  align-items: center;
}

.footer p {
  flex: 1;
  font-style: italic;
  color: #a4a4a4;
  padding: 10px;
  text-align: center;
}
